<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{content.topic}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
<style>

.topicbox {
  border-radius: 25px;
  background-color: rgb(235,235,235);
  border: 10px solid rgb(51,51,51);
  padding: 50px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.notactive):not(.active) {
  background-color: rgb(51,51,51);
}

.active {
  background-color: #4CAF50;
}

.notactive {
  background-color: rgb(203, 92, 85);
}
</style>

</head>
<body>

<div class="jumbotron text-center">
  <h1>Edit Content</h1>
  <div>
    <ul>
      <li><a href="/homepage">Home</a></li>
      <li><a class="active" href="#news">Topics</a></li>
      <li><a href="#contact">Quiz</a></li>
      <li style="float:right"><a class="notactive" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="topicbox">
    <div>
      <form action ="/updatecontent" method="post">
        <h1 style="text-transform:capitalize">{{content.topic}}</h1>
      {{#if content.page}}
        <p>Page {{content.page}}</p>
        <input type="Text" name="id" value={{content.id}} hidden>
        <input type="Text" name="page" value={{content.page}} hidden>
      {{/if}}
      {{#if content.h1}}
        <textarea name="h1" value={{h1}} rows="1" cols="120">{{content.h1}}</textarea><br>
      {{/if}}
      {{#if content.para1}}
        <textarea rows="10" name="para1" value={{content.para1}} cols="120">{{content.para1}}</textarea><br>
      {{/if}}
      {{#if content.h2}}
        <textarea rows="1" cols="120" name="h2" value={{conent.h2}}>{{content.h2}}</textarea><br>
      {{/if}}
      {{#if content.para2}}
        <textarea rows="10" cols="120" name="para2" value={{content.para2}}>{{content.para2}}</textarea><br>
      {{/if}}
      {{#if content.h3}}
        <textarea rows="1" cols="120" name="h3" value={{content.h3}}>{{content.h3}}</textarea><br>
      {{/if}}
      {{#if content.para3}}
        <textarea rows="10" cols="120" name="para3" value={{content.para3}}>{{content.para3}}</textarea><br>
      {{/if}}
      <br>
          <button type="submit" name="topic" value="{{content.topic}}" class="btn btn-primary" style="float: right;">Save changes</button>
      </form>

          <button type="button" class="btn btn-danger" onclick="goBack()" style="float: left;">Previous</button>
          <br>
    </div>
  </div><br>
</div>

</body>

<footer>
  <br>
  <div class="jumbotron text-center">
    <p>@E-Learning 2019</p>
  </div>
</footer>
</html>
