<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="quizlayout.css">

<body>

<form id="quizForm" action="/quizcomplete" method="post">
  <h1>{{topic}} Quiz</h1>

  <!-- A tab for each of the 10 questions in the quiz -->
  {{#each this}}
    {{#if question}}
    <div class="tab"><h2>{{question}}</h2>
      <input type="radio" name="{{question}}" id="a1" value="{{random1}}" checked>{{random1}}
      <input type="radio" name="{{question}}" id="a2" value="{{answer}}" > {{answer}}<br>
      <input type="radio" name="{{question}}" id="a3" value="{{random2}}">{{random2}}
      <input type="radio" name="{{question}}" id="a4" value="{{random3}}">{{random3}}
    </div>
    {{/if}}
    {{#if topic}}
      <input type="radio" name="topic" id="blue" value="{{topic}}" checked hidden>
    {{/if}}
  {{/each}}

  <div style="overflow:auto;">
    <div style="float:right;">
      <button class="btn btn-danger" type="button" id="backBtn" onclick="nextPrev(-1)" value="false">Previous</button>
      <button class="btn btn-primary" type="button" id="nxtBtn" onclick="nextPrev(1)" value="false">Next</button>
    </div>
  </div>

  <!-- Circles at the bottom of each screen that indicate which question and the total number of questions -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
	  <span class="step"></span>
	  <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<script>

var currentQuestion = 0; // The first question is set as 0
displayQuestionTab(currentQuestion); // Display the current tab

function displayQuestionTab(curQuestionTab) {
  //Function will present the specific question currently on
  var currentScreen = document.getElementsByClassName("tab");
  currentScreen[curQuestionTab].style.display = "block";
  //Block of if/else statements to display the correct buttons next/back depending on the question
  if (curQuestionTab == 0) {
    document.getElementById("backBtn").style.display = "none"; 
    } 
  else {
    document.getElementById("backBtn").style.display = "inline";
  }
  if (curQuestionTab == (currentScreen.length - 1)) {
    document.getElementById("nxtBtn").innerHTML = "Submit";
  } 
  else {
    document.getElementById("nxtBtn").innerHTML = "Next";
  }
  showQuestionNum(curQuestionTab)
}

function nextPrev(curQuestionTab) {
  //Function that works out the question to display
  var currentScreen = document.getElementsByClassName("tab");
  //If any question is left blank then it will exit the function
  if (curQuestionTab == 1 && !quizValidate()) return false;
  //The current question is hidden
  currentScreen[currentQuestion].style.display = "none";
  //Add or minue the current question by 1:
  currentQuestion = currentQuestion + curQuestionTab;
  //If end of the quiz then show the submit button
  if (currentQuestion >= currentScreen.length) {
    //Allows for the quiz to be submitted
    document.getElementById("quizForm").submit();
    return false;
  }
  //If not then display the question
  displayQuestionTab(currentQuestion);
}

function quizValidate() {
  // Function to validate the questions to ensure all questions have been answered
  var valid = true
  document.getElementsByClassName("step")[currentQuestion].className += " finish";
  return valid;//Return the status
}


function showQuestionNum(curQuestionTab) {
  // This function removes the "active" class of all steps...
  var i, currentScreen = document.getElementsByClassName("step");
  for (i = 0; i < currentScreen.length; i++) {
    currentScreen[i].className = currentScreen[i].className.replace(" active", "");
  }
  // Changes the current tab to an active class
  currentScreen[curQuestionTab].className += " active";
}
</script>

</body>
</html>