<!DOCTYPE html>
<html lang="en">
<head>

  <title style="text-transform:capitalize">{{topic}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="layout.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</head>
<body>

<div class="jumbotron text-center">
  <h1>GIT</h1>
  <p>Learn Git In Minutes</p>
  <div>
    <ul>
      <li><a href="/homepage">Home</a></li>
      <li><a class="active" href="#news">Topics</a></li>
      <li><a href="#contact">Quiz</a></li>
      <li style="float:right"><a class="notactive" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="topicbox">
    <div>
      <h2>{{h1}}</h2>
      <p>{{para1}}</p>

      <h2>{{h2}}</h2>
      <p>{{para2}}</p>

      <h2>{{h3}}</h2>
      <p>{{para3}}</p>
      <br>
      {{#if nxtP}}
        {{#if img1}}
          <img src="{{img1}}" alt="img" width="15%" height="15%">
        {{/if}}
      {{/if}}
      
      {{#if finish}}
        {{#if img2}}
        <img src="{{img2}}" alt="img" width="20%" height="20%">
        {{/if}}
      {{/if}}
      <br>
      <br>
      <p>Page {{page}}</p>

      <button type="button" class="btn btn-danger" onclick="goBack()" style="float: left;">Previous</button>

      {{#if nxtP }}
        <form action ="/content" method="post">
          <input type="Text" name="page" value="{{nxtP}}" hidden>
          <button type="submit" name="topic" value="{{topic}}" class="btn btn-success" style="float: right;">Next</button>
        </form>
      {{/if}}
      
        <div align="center">
          <form action="/quiz" method="post">
          <button type="submit" class="btn btn-warning" name="topic" value="{{topic}}">Test Your Understanding</button>
        </form>
      </div>
      <br>
    </div>
  </div><br>
</div>

</body>

<footer>
  <br>
  <div class="jumbotron text-center">
    <p>@E-Learning 2019</p>
  </div>
</footer>
</html>
